html, body {
  height: 100%;
  font-family: 'Kavivanar', cursive;
}
* {
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #90B279;
  margin: 0;
  padding: 20px;
  color: white;
}