html, body {
  height: 100%;
  font-family: 'Kavivanar', cursive;
}
* {
  box-sizing: border-box;
}

.App {
  width: 40%;
  min-width: 700px;
  margin: 0 auto;
  position: relative;
}

strong {
  font-size: 1.2em;
}